<header>
  <div>
    <a href="/" class="logo" title="Home page logo">
     <i class="fa fa-fw fa-money fa-2x"></i> House Price
    </a>
  </div>
    <div class="navbar">
      <a class="<%= active == 'home' ? 'active' : 'default' %> " href="/"><i class="fa fa-fw fa-home"></i> Home</a>
      <a class="<%= active == 'add' ? 'active' : 'default' %> " href="/add"><i class="fa fa-fw  fa-plus"></i> Add New</a>    
    </div>
</header>